<h1>Email n°<%= @read_content.id %></h1>
<div class="mailcontainer-two">
    <h2><b>Object:</b></h2>
    <h2><%= @read_content.object %></h2>
    <br>
    <h3><b>Content:</b></h3>
    <h1><%= @read_content.body %></h1>
</div>